
/*INFO-BUBBLES UNDERNEATH FIRST PICTURE*/

    .infoBobler {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 70px;
        flex-wrap: wrap;
        font-family: "Titillium Web", sans-serif;
        border: none;
    }

    .boks {
        width: 300px;
        margin: 10px;
    }

    .infoBilde{
        display: block;
        width: 200px;
        margin: auto;
    }

/*TEXT UNDER INFO-BUBBLES*/

    .infoTekst {
        line-height: 1.5em;
        margin: 10px;
        text-align: center;
    }

     .infoTekst p {
         margin-top: 15px;
         letter-spacing: 1px;
         font-family: "Titillium Web", sans-serif;
         color: #122524;
         font-size: 20px;
    }

    .infoTekst h1 {
        font-size: 20px;
        font-family: "Titillium Web", sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 20px;
    }

    .infoTekst h1 a {
        text-decoration: none;
        color: black;
    }

    .infoTekst a {
        text-decoration: none;
        color: black;
    }

/*CODE FOR MOBILE ETC*/

    @media only screen and (min-width: 768px) and (max-width: 1199px){
        .infoBilde {
            width: 170px;
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 767px){
        .infoBilde {
            width: 150px;
        }
        .infoTekst p{
            font-size: 16px;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 479px){
        .infoBilde {
            width: 130px;
        }
    }


